<!DOCTYPE html>
<html>
  <head>
    <title>Adventure Bucket List</title>
    <link href="/css/bootstrap.css"  rel="stylesheet" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <% if is_logged_in? %>
      <a href="/logout" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
      <% end %>
    </nav>
      <% flash.keys.each do |type| %>
        <div class="text-center alert alert-warning">
          <%= flash[type] %>
        </div>
      <% end %>
    <%= yield %>
    <!-- Bootstrap jQuery Plugins, compiled and minified -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
