<!DOCTYPE html>
<html>
  <head>
    <title>Travel Bucket List</title>
  </head>
  <body>
    <% if is_logged_in? %>
      <a href='/logout'>Logout</a>
    <% end %>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
